<p>@oae.max_depth_string:
  <br/><%=@oae.max_depth_string %>
</p>

<p>@oae.depth_example:
  <br/><%=@oae.depth_example %>
</p>

<p>@oae.depth_indirect_a:
  <br/><%=@oae.depth_indirect_a %>
</p>

<p>@oae.map_range:
  <br/><%=@oae.map_range %>
</p>

<p>oae.map_range_i:
  <br/><%=@oae.map_range_i %>
</p>

<p>@oae.map_block:
  <br/><%=@oae.map_block %>
</p>

<p>@oae.next_codons:
  <br/><%=@oae.next_codons %>
</p>  

